
<form action="/addCourse" method="POST">
    <h3>ADD COURSE</h3>

  <input type="hidden"  name="type" required 
  value="Course"> 

  <label><b>Name</b></label>
  <input type="text" name="name" required> <br><br>

  <label><b>Code</b></label>
  <input type="text"  name="code" required> <br><br>


  <label><b>Department</b></label>
  <input type="text"  name="department" required> <br><br>

  <label><b>Year</b></label>
  <input type="text"  name="year" required> <br><br>

  <label><b>Semester</b></label>
  <input type="text"  name="semester" required> <br><br>

  <label><b>Section</b></label>
  <input type="text"  name="section" required> <br><br>

  <label><b>Active</b></label>
  <input type="text"  name="active" required> <br><br>

  <label><b>Finalized</b></label>
  <input type="text"  name="finalized" required> <br><br>


  <button type="submit">Register</button>

 
</form>