
<form action="/addHRManager" method="POST">
    <h3>HR Manager Form</h3>

  <input type="hidden"  name="type" required 
  value="HRManager">

  <label><b>Name</b></label>
  <input type="text" name="name" required> <br><br>

  <label><b>Gender</b></label>
  <input type="text"  name="gender" required> <br><br>

  <label><b>Birth Date</b></label>
  <input type="date"  name="birthdate" required> <br><br>
  
  <label><b>Username</b></label>
  <input type="text"  name="username" required> <br><br>

  <label><b>Password</b></label>
  <input type="text"  name="password" required> <br><br>

  <label><b>Email</b></label>
  <input type="text"  name="email" required> <br><br>

  <label><b>Status</b></label>
  <input type="text"  name="status" required> <br><br>


 

  <button type="submit">Register</button>

 
</form>