
<form action="/addStudent" method="POST">
    <h3>Student Register Form</h3>

  <input type="hidden"  name="type" required 
  value="Student">

  <label><b>Name</b></label>
  <input type="text" name="name" required> <br><br>

  <label><b>Gender</b></label>
  <input type="text"  name="gender" required> <br><br>

  <label><b>Birth Date</b></label>
  <input type="date"  name="birthdate" required> <br><br>
  
  <label><b>Username</b></label>
  <input type="text"  name="username" required> <br><br>

  <label><b>Password</b></label>
  <input type="text"  name="password" required> <br><br>

  <label><b>Email</b></label>
  <input type="text"  name="email" required> <br><br>

  <label><b>Status</b></label>
  <input type="text"  name="status" required> <br><br>

  <label><b>Department</b></label>
  <input type="text"  name="department" required> <br><br>

  <label><b>Year</b></label>
  <input type="text"  name="year" required> <br><br>

  <label><b>Semester</b></label>
  <input type="text"  name="semester" required> <br><br>

  <label><b>Section</b></label>
  <input type="text"  name="section" required> <br><br>

  

  <button type="submit">Register</button>

 
</form>